version: '3.3'

# Define services
services:
  services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: 'assessmenttest'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'root'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'root'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    volumes:
      - my-db:/var/lib/mysql
  # App backend service
  moviesapi:
    # Configuration for building the docker image for the backend service
    build:
      context: . # Use an image built from the specified dockerfile in the current directory.
      dockerfile: Dockerfile
    ports:
      - "9000:8890" # Forward the exposed port 8890 on the container to port 9000 on the host machine
    restart: always